*{
  margin: 0;
  padding: 0;
}
.card:hover{
  background-color: #212529;
  color: white;
  border-color: white;
  cursor: pointer;
  transition: 500ms ease-in-out;
  box-shadow: rgb(51, 73, 97) 0px 20px 30px -10px;
}
.readmore:hover{
  background-color: white;
  color: black;
  font-weight: 900;
}
.searchBar{
  width: max-content;
}
form{
  width: max-content;
}
.homeContainer{
  margin:2vh auto;
}
.monkey{
  border-radius: 50%;
}
.pagebtn:hover{
  border: 1px solid rgb(139, 139, 139);
  background-color: #212529;
  color: white;
}
.inputSearch::placeholder{
  color: white;
}
.changePlaceHolderColor::placeholder{
  color: white;
}